<div class="main-container">
<div>
  <div class="header">
    <h1>
      All listings
    </h1>
  </div>
  <i>Only listings that are available and were updated in the last 90 days will show up here</i>
</div>

<hr>

<div>
  <div class="right-button">
    <% if current_user != nil %>
      <a href="/new_listing" class="btn btn-success"> Create a new listing </a>
    <% else %>
      <div> <a href="/users/sign_in/" class="btn btn-success"
      onclick="return confirm('Sign in to create a new listing');"
      >Create a new listing</a>
      </div>
    <% end %>

  </div>
</div>

<% if @list_of_items.at(0) != nil %>

<table class="fixed" border="1">
  <tr>
    <th>
      Category
    </th>

    <th>
      Item
    </th>

    <th>
      Picture
    </th>

    <th>
      Price
    </th>

    <th>
    Last updated
    </th>

  </tr>

<% @list_of_items.where({ :updated_at => 90.days.ago..Time.current}).each do |a_item| %>

<tr>
      <td>
        <a class="link-dark link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/category/<%= a_item.category %>">
          <%= a_item.category %>
        </a>
      </td>
      
      <td>
        <div class="preserve-lines"><a href="/item/<%=a_item.id%>"><%= a_item.name %></a></div>
      </td>

      <td>
        <img src="<%= a_item.picture_1_url %>" height="100px">
      </td>

      <td>
        <%= a_item.price.to_fs(:currency) %>
      </td>

      <td>
        <%= a_item.updated_at.strftime("%b %d, %l:%M%p") %>
      </td>

    </tr>
  <% end %>
</table>

<% else %>

There is no listing

<% end %>

</div>
