<div>
  <div>
    <h1>
      <%= @the_item.name %>
    </h1>

<hr>
    <div>
    <% if current_user.id == @the_item.seller_id %>
      <div>
        <a href="/current_listing/<%= @the_item.id %>">
         Edit listing
        </a>
      
        <a href="/delete_listing/<%= @the_item.id %>">
          Delete listing
        </a>
      </div>
    <% end %>

    </div>

    

<div> <b>Category:</b> <%= @the_item.category %> </div>
<div> <b>Price:</b> <%= @the_item.price.to_fs(:currency) %> </div>
<div> <b>Seller:</b> <%= @the_seller.first_name %> <%= @the_seller.last_name %></div>
<div><img src="<%= @the_item.picture_1_url %>" height="200px"> <img src="<%= @the_item.picture_2_url %>" height="200px"> <img src="<%= @the_item.picture_3_url %>" height="200px"> <img src="<%= @the_item.picture_4_url %>" height="200px"> <img src="<%= @the_item.picture_5_url %>" height="200px"></div>

<div> <b>Description:</b> <%= @the_item.description %> </div>

<div> <b>Payment method:</b> <%= @the_item.payment_method %> </div>

<div> <b>Delivery method:</b> <%= @the_item.delivery_method %> </div>

<div> <b>Last updated:</b> <%= @the_item.updated_at.strftime("%b %d, %l:%M%p") %> </div>
