<div>
  <div>
    <h1>
      <%= @the_item.name %>
    </h1>

<hr>
    <div>
    <% if current_user.id == @the_item.seller_id %>
      <div>
        <a href="/edit_item/<%= @the_item.id %>">
         Edit listing
        </a>
      </div>
      <div>
        <a href="/delete_item/<%= @the_item.id %>">
          Delete listing
        </a>
      </div>
    <% end %>

    </div>

    

<div> Category: <%= @the_item.category %> </div>
<div> Price: <%= @the_item.price %> </div>
<div> Seller: <%= @the_item.seller_id %> </div>

<div> Description: <%= @the_item.description %> </div>

<div> Payment method: <%= @the_item.payment_method %> </div>

<div> Delivery method: <%= @the_item.delivery_method %> </div>
