<!DOCTYPE html>
<html>
  <head>
    <title>Chicago Booth Deals & For Sale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="/search.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Booth deals & for sale</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">All listings</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu">
              <% Category.order({ :category => :asc }).each do |a_category| %>
                <li><a class="dropdown-item" href="/category/<%= a_category.category %>"><%= a_category.category %></a></li>
               <% end %>
              </ul>
            </li>
            <% if current_user != nil %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/my_listing">My listings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/saved_listing">Saved listings</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/users/edit">Edit profile</a></li>
                <li><a class="dropdown-item" href="/users/sign_out">Sign out</a></li>
              </ul>
            </li>
            <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/users/sign_in">Sign in</a></li>
                <li><a class="dropdown-item" href="/users/sign_up">Sign up</a></li>
              </ul>
            </li>
            <% end %>
          </ul>
            <%= search_form_for(@q, { :url => search_result_path, :method => :get }) do |f| %>
        
                <%= f.label(:name_or_description_cont, "Search for") %>
                <%= f.text_field(:name_or_description_cont, { :placeholder => "e.g., Pickleball paddles" }) %>

              <%= f.submit("Search", { :class => "btn btn-outline-primary" }) %>
            <% end %>
        </div>
      </div>
    </nav>
    
  

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>

    
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
