<!DOCTYPE html>
<html>
  <head>
    <title>Chicago Booth Deals & For Sale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="/search.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
  </head>

  <body>
      <nav>
      <a href="/">All listings</a>
      
      <%= search_form_for(@q, { :url => search_result_path, :method => :get }) do |f| %>
  
          <%= f.label(:name_or_description_cont, "Search for") %>
          <%= f.text_field(:name_or_description_cont, { :placeholder => "e.g., Pickleball paddles" }) %>

        <%= f.submit("Search", { :class => "btn btn-primary" }) %>
      <% end %>

      <% if current_user != nil %>
      <a href="/my_listing">My listing</a>
      <a href="/saved_listing">Saved listing</a>
      <a href="/users/edit">Edit profile</a>
      <a href="/users/sign_out">Sign out</a>

      <% else %>

      <a href="/users/sign_up">Sign up</a>
      <a href="/users/sign_in">Sign in</a>

      <% end %>
    </nav>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>

    
    <%= yield %>
  </body>
</html>
